/*** Main ***/

/*Header control*/
.mdl-layout__tab-bar {
    height: 48px !important;
}

.mdl-layout__header, .mdl-layout__tab-bar {
    background-color: rgb(65, 66, 72) !important;
}

/*Background*/
.backgroundColor {
    background: #D2D2D2;
}


/*** Series list ***/

.detailCard {
    width: 100% !important;
}

.full-width {
    width: 100%;
}

.label {
    float: left;
    margin: 2%;
    text-align: left;
}

.imgCard {
    max-height: 220px !important;
    max-width: 150px !important;
}

.imgDetail {
    width: 100%;
}

/*** Detail ***/

/*Swipe div block*/
.season-swipe {
    line-height: 0px !important;
    text-align: center;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*Align description*/
.mdl-card__supporting-text {
    text-align: justify;
}


/*** Chapter ***/

/*Overwrite subheader*/
.sub {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}
