.serieListCard {
    width: 180px !important
}

.imgDetail {
    width: 100%;
}

.mdl-layout__header, .mdl-layout__tab-bar {
    background-color: rgb(65, 66, 72) !important;
}

.mdl-card__menu {
    right: 12px !important;
    top: 43% !important;
}

.mdl-card__supporting-text {
    text-align: justify;
}

.backgroundColor {
    background: #D2D2D2;
}

.detailCard {
    width: 100% !important;
}

.full-width {
    width: 100%;
}

.label {
    float: left;
    margin: 1%;
    text-align: left;
}
.new-row {
    clear: left;
}

.season-swipe {
    line-height: 0px !important;
    text-align: center;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.mdl-layout__tab-bar {
    height: 48px !important;
}    
