<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--fixed-tabs backgroundColor">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
        <!-- Title -->
            <span class="mdl-layout-title">Essence Interactive</span>
        </div>
    </header>
    <main class="mdl-layout__content">
        <div class="page-content">
            <div ui-view>

                <div class="mdl-card mdl-shadow--2dp demo-card-wide detailCard">
                    <div>
                        <img src="{{vm.serieDetail.main.img}}" class="imgDetail" />
                    </div>
                    <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text">{{vm.serieDetail.detail.name}}</h2>
                    </div>
                    <div class="mdl-card__supporting-text">{{vm.serieDetail.detail.overview}}</div>
                    <div class="mdl-card__actions mdl-card--border">
                        <div ng-if="vm.seasonData">
                            <div class="mdl-card__supporting-text season-swipe" ng-swipe-left="vm.swipeSeason(vm.serieDetail.seasons.season_number, 'next')"
                                ng-swipe-right="vm.swipeSeason(vm.serieDetail.seasons.season_number, 'back')">
                                    <i class="material-icons" style="float: left;" ng-show="vm.showLeftArrow" ng-click="vm.swipeSeason(vm.serieDetail.seasons.season_number, 'back')">chevron_left</i>
                                    <div style="TEXT-ALIGN: CENTER;">{{vm.serieDetail.seasons.name}}</div>
                                    <i class="material-icons" style="float: right;" ng-show="vm.showRightArrow" ng-click="vm.swipeSeason(vm.serieDetail.seasons.season_number, 'next')">chevron_right</i>
                            </div>
                            <div>
                                <div id="{{vm.serieDetail.seasons.id}}" class="">
                                    <table class="mdl-data-table mdl-js-data-table mdl- mdl-shadow--2dp full-width">
                                        <thead>
                                            <tr>
                                                <th class="mdl-data-table__cell--non-numeric full-width">Name</th>
                                                <th>Date</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="episode in vm.serieDetail.seasons.episodes" ng-click="vm.goToChapter(episode)">
                                                <td class="mdl-data-table__cell--non-numeric">{{episode.name  | limitTo : 24}}</td>
                                                <td>{{episode.air_date | date:'dd-MM-yyyy'}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div ng-if="!vm.seasonData">
                            <div class="mdl-card__supporting-text">{{vm.serieDetail.error}}</div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </main>
</div>
